html {
  font-family: Helvetica;
  font-size:22px;
  color:seashell;
  background-color: black;
  opacity:0.9;
  text-align: center;
}
header {
width: 100%;
height:69px;
position: fixed;
align-items:center;
border-bottom: 1px solid seashell;
z-index:1;
background-color: black;

}
header img {
  height: 50px;
  padding-left: 10px;
}
nav {
text-align:right;
flex-grow: 1;
display:block;
}

nav span {
  display: inline-block;
  text-decoration: underline;
  padding: 20px 10px;
}
a {
  color: seashell;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main {
  padding-top: 70px;
  opacity:0.9;
  width: 1200px;
  margin:auto;
}

body {
  font-family: Helvetica,sans-serif;
  background-color: black;
  text-align: center;
  display:block;
  margin: 0px;
  color:seashell;
  font-size: 22px;
}
#mission {
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  padding-top: 70px;
}

#mission .content {
  margin: auto;
  background-color: black;
  width:100%;
}

h2 {
  display: block;
  padding: 10px;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0px;
}
h4 {
  margin: 0px;
  padding: 10px;
  display: block;
  font-weight: bold;
}

#teas {
  height: 700px;
  width: 1000px;
  padding-top: 70px;
  margin: auto;
}
.item span {
  padding: 5px;
  text-align:center;
  font-weight: bold;
  display: block;
}
div {
  display: block;
}
.item {
  padding: 5px;
  }

.item img {
height: 200px;
margin: 10px;
display: block;
}


.location {
  display: flex;
  padding: 10px;
  justify-content: center;
  background-color: black;
  opacity: 1;
  margin: 5px 20px;
  flex-basis: 280px;
  flex-direction: column;
}
h3 {
  padding: 10px;
  margin: 0px;
  display: block;
  font-weight: bold;
}
p {
  display: block;
}
#locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  padding-top:70px;
  display: block;
  text-align:center;
}

#locations .flex-container {
  width:1100px;
  margin:auto;
}
.flex-container .locations {
  margin: 0px 50px;
    padding-top:5px;
}
#contact {
  display: block;
  height:200px;
}
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
h5 {
  display: block;
  font-weight: bold;
  font-size: 0.80em;
  }
 footer {
   text-align: left;
   padding-left: 20px;
   display: block;
 }
